body {
  margin: 5px;
  padding: 3px;
  font-family: sans-serif;
}

body {
  background-color: #2e0555;
}
.card-content h3 {
  font-size: 1.1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.contenedor-noticias {
  padding: 3rem;
  border-radius: 0.5rem;  
  margin-top: 3rem;
}

.buscador {
  margin-top: 2rem;
  margin-bottom: 2.4rem;
  text-align: left;
}
.buscador label {
  font-size: 2rem;
  color: rgb(17, 184, 40);
}
.dropdown-content li>span {
  color: black;
}
.select-wrapper input.select-dropdown:focus {
  border-bottom: 1.5px solid #e64a19!important;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
.enviar input[type="submit"] {
  width: 90%;
}

.fade-enter{
  opacity: 0;
  transform: scale(1.25);
}
.fade-enter.fade-enter-active {
  opacity:1;
  transition: all .8s ease-in;
  transform: scale(1.5);
}

.fade-exit {
  opacity: 2;
  transform: scale(1.25);
}

.fade-exit.fade-exit-active {
  opacity:0;
  transition: all .7s ease-in;
  transform: scale(1);
}